*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a img{
    border-radius: 60%;
    max-width: 100px;
}

.card-1{
    background-color: rgb(53, 112, 114) !important;
}

h1{
    margin: 1rem;
}

.bk{
    background-color: rgb(53, 112, 114) !important;
}

.card-dos{
    background-color: rgb(53, 112, 114) !important;
}